{% extends base %}

{% block body %}
	<div id="container">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}


{% block stylesheets %}
	{# write style if not exist in parent #}
	{% if parent()|trim %}
		{{ parent() }}
	{% else %}
		<style>
			* {
				box-sizing: border-box;
			}
			body {
				background: #F5F5F5;
				font: 18px/1.5 sans-serif;
				padding: 1em;
				margin: auto;
			}
			#container {
				background: #fff;
				padding: 2em 4em;
				max-width: 800px;
				width: 100%;
				margin: auto;
			}
			#container:after {
				content: " ";
				display: block;
				clear: both;
			}
			
			label {
				display: block;
			}
			
			input {
				background: #fff;
				border: 1px solid #999;
				border-radius: 10px;
				line-height: 3em;
				margin: 1em 0 2em;
				padding: 0 1em;
				width: 100%;
				max-width: 400px;
			}
			
			button {
				background: #efefef;
				border: 1px solid #999;
				border-radius: 10px;
				line-height: 2.5em;
				padding: 0 3em;
				margin-bottom: 1em;
			}
			
			a, a:active, a:hover {
				color: #0000F0;
			 	text-decoration: none;
			}
			
			ul {
				margin: 10px 10px 0;
				padding: 0 0 0 20px;
			}
			
			li {
				color: red;
			}
			
			.gsf-reset_password-link .gsf-link-register {
				float: right;
			}
			
			.gsf-link-reset_password {
				float: right;
			}
			
			@media all and (max-width: 768px) {
				#container {
					padding: 1em;
				}
				input {
					max-width: 100%;
				}
			}
		
			
		</style>
	{% endif %}
{% endblock %}