{% extends base_auth %}

{% block title %}{{ 'gsf_user.auth.register.title'|trans }}{% endblock %}

{% block content %}
	<h1>{{ 'gsf_user.auth.register.title'|trans }}</h1>
	{{ form(form) }}
{% endblock %}